
/* tableStyles.css */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
  overflow: hidden;
}


th, td {
  padding: 12px 15px;
  text-align: center;
  font-size: 16px;
}

th {
  background-color: #009879;
  color: #ffffff;
  text-transform: uppercase;
}

tr {
background-color: #edddd1;
  border-bottom: 1px solid #dddddd;
}

tr:nth-of-type(even) {
  background-color: #d2e1ae;
}

tr:last-of-type {
  border-bottom: 2px solid #009879;
}

tr:hover {
  background-color: #b7d3d7;
}

td a {
  color: #009879;
  text-decoration: none;
}

td a:hover {
  text-decoration: underline;
}


table th, table td img {
    max-width: 70px; /* Adjust based on your column width */
    height: auto;
}

