<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>All Cities</title>

    <script src="https://unpkg.com/htmx.org"></script>

    <link rel="stylesheet" href="/css/dev_and_debug/all-cities.css" />
  </head>
  <body>
    <!-- <div style="position: fixed; top: 0; width: 100%; background-color: white; z-index: 1000;">
            <button hx-get="/load-more-cities" hx-trigger="click" hx-target="#cities-container" hx-swap="beforeend">
                Load More Cities
            </button>
        </div> -->

    <div style="margin-top: 50px">
      <table class="all-cities-table" id="cities-container">
        <!-- Rows of cities will be replaced here -->
      </table>
    </div>
    <div
      style="
        position: fixed;
        top: 0;
        width: 100%;
        background-color: white;
        z-index: 1000;
      "
    >
      <button
        hx-get="/load-more-cities"
        hx-trigger="click"
        hx-target="#cities-container"
        hx-swap="innerHTML"
        style="
          height: 36px;
          left: 526px;
          position: absolute;
          top: 11px;
          width: 218px;
        "
      >
        Load More Cities
      </button>
    </div>
  </body>
</html>
