<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>All Cities</title>

    <script src="https://unpkg.com/htmx.org"></script>

    <link rel="stylesheet" href="/css/all-cities.css" />
  </head>
  <body>
    <!-- <div style="position: fixed; top: 0; width: 100%; background-color: white; z-index: 1000;">
            <button hx-get="/load-more-cities" hx-trigger="click" hx-target="#cities-container" hx-swap="beforeend">
                Load More Cities
            </button>
        </div> -->
    <div style="margin-top: 50px">
      <table class="all-cities-table" id="cities-container">
        <!-- Rows of cities will be appended here -->
      </table>
    </div>
    <div
      hx-get="/load-more-cities"
      hx-trigger="every 10ms"
      hx-target="#cities-container"
      hx-swap="beforeend"
      hx-on="htmx:afterRequest: if (event.detail.xhr.status !== 200) this.remove()"
    ></div>
  </body>
</html>
