<!doctype html>
<html lang="en">
  <head>
    {{ template "seo.html" }}
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>fairfarefinder</title>

    <link rel="manifest" href="/manifest.json" />
    <!-- Link to the CSS files located in the 'css' folder -->
    <link rel="stylesheet" href="/css/resetCSS.css" />
    <link rel="stylesheet" href="/css/htmxFilter.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/tableStyles.css" />
    <link rel="stylesheet" href="/css/mobileStyles.css" />
    <link rel="stylesheet" href="/css/formStyles.css" />
    <link rel="stylesheet" href="/css/modal.css" />
    <link rel="stylesheet" href="/css/search.css" />
    <link rel="stylesheet" href="/css/price-slider.css" />
    <!-- Add Google Fonts for Dosis -->
    <link
      href="https://fonts.googleapis.com/css2?family=Dosis:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
    <!--Counting Visitor numbers etc-->
    <script
      defer
      src="https://cloud.umami.is/script.js"
      data-website-id="9ba49997-4950-4a09-b812-da2ffcfa2170"
    ></script>
    <!--HTMX-->
    <script src="https://unpkg.com/htmx.org"></script>

    <!-- JS -->
    <script src="/js/price-slider.js"></script>
    <!--Create Accomodation Price Slider functionality-->

    <script>
      const minFlightPrice = {{ .MinFlightPrice }};
      const midFlightPrice = {{ .MidFlightPrice }};
      const maxFlightPrice = {{ .MaxFlightPrice }};

      const minAccomPrice = {{ .MinAccomPrice }};
      const midAccomPrice = {{ .MidAccomPrice }};
      const maxAccomPrice = {{ .MaxAccomPrice }};
      const defaultAccomPrice = {{ .DefaultAccomPrice }};
    </script>

    <!--Create Accommodation Price Slider functionality-->
    <script>
      let accomSlider;
      document.addEventListener("DOMContentLoaded", () => {
        window.accomSlider = createPriceSlider({
          sliderId: "accommodationPrice-slider0",
          outputId: "accommodationOutput0",
          chartId: "chart",
          dataArray: [],
          minVal: minAccomPrice,
          midVal: midAccomPrice,
          maxVal: maxAccomPrice,
          defaultValue: defaultAccomPrice,
          binCount: 30,
        });
      });
    </script>

    <!--Create Flight Price Slider functionality-->
    <script>
      let flightSlider;
      document.addEventListener("DOMContentLoaded", () => {
        window.flightSlider = createPriceSlider({
          sliderId: "combinedPrice-slider0",
          outputId: "priceOutput0",
          chartId: "flight-chart",
          dataArray: [],
          minVal: minFlightPrice,
          midVal: midFlightPrice,
          maxVal: maxFlightPrice,
          defaultValue: 57,
          binCount: 30,
        });
      });
    </script>
  </head>

  <div id="page-banner">
    <div class="banner-content">
      <img src="/images/favicon_orange_turq.ico" alt="FFF Icon" id="fff-icon" />
      <h2>
        <span><span class="first-letter">f</span>air</span>
        <span><span class="first-letter">f</span>are</span>
        <span><span class="first-letter">f</span>inder</span>
      </h2>
    </div>
  </div>

  <body>
    <!-- Background image div -->
    <div id="bg-image-dreams"></div>

    <!-- Initial website name that will fade in and out -->
    <div
      id="website-name"
      class="fade-in"
      style="font-family: &quot;Dosis&quot;, sans-serif"
    >
      fair fare finder
    </div>
    <!-- Header that will appear above the form -->

    <!-- Table content container that will appear after the text fades out -->
    <!-- Banner structure -->
    <div id="table-container">
      <div class="scroll-container">
        <form
          id="flight-form"
          hx-get="/filter"
          hx-target="#flight-table"
          hx-trigger="change, input delay:50ms"
          hx-headers='{"Cache-Control": "no-cache"}'
        >
          <!-- Dynamic city input rows -->
          <div id="city-rows" style="width: 100%">
            <div class="form-group city-row">
              <div class="dropdown-container">
                <label for="city-search">Flying From:</label>

                <input
                  id="city-search"
                  class="dropdown-input"
                  name="city[]"
                  placeholder="Search for a city"
                  autocomplete="off"
                />
                <button id="dropdown-btn" class="dropdown-btn" type="button">
                  <span class="caret">▼</span>
                </button>
                <ul id="city-list" class="dropdown-list hidden"></ul>
              </div>

              <!-- <div class="outer-flight-price-slider"> -->
              <output id="priceOutput0" class="output-range">€399</output>
              <div class="flight-price-slider">
                <div class="chart-container">
                  <div class="chart" id="flight-chart"></div>
                </div>
                <!--label for="priceOutput0"></label-->

                <input
                  type="range"
                  id="combinedPrice-slider0"
                  name="maxFlightPriceLinear[]"
                  min="0"
                  max="100"
                  step="0.01"
                  value="49"
                  class="price-slider"
                  hx-push-url="false"
                  hx-preserve="false"
                  hx-include="#combinedPrice-slider0"
                  autocomplete="off"
                  oninput="window.flightSlider.updateData(window.allFlightPrices[0]);"
                />
              </div>
              <!-- </div> -->
            </div>
          </div>
          <!-- Button to add more origin cities -->

          <div class="form-group">
            <button type="button" id="add-city-button">Add Another City</button>
          </div>

          <div class="accom-and-sort">
            <div class="form-group accom">
              <label for="accommodationOutput0">Avg. Hotel PPPN:</label>
              <output id="accommodationOutput0" class="output-range"
                >€99</output
              >

              <div class="accom-pricebar">
                <div class="chart-container">
                  <div class="chart" id="chart"></div>
                </div>
                <input
                  type="range"
                  id="accommodationPrice-slider0"
                  name="maxAccommodationPrice[]"
                  min="0"
                  max="100"
                  step="0.01"
                  value="53.57"
                  class="price-slider"
                  hx-push-url="false"
                  hx-preserve="false"
                  hx-include="#accommodationPrice-slider0"
                  autocomplete="off"
                  oninput="window.accomSlider.updateData(window.allAccomPrices);"
                />
              </div>
            </div>
            <div class="form-group">
              <label for="sort">Sort By:</label>
              <select id="sort" name="sort">
                <option value="best_weather" selected>
                  Sunniest and Warmest
                </option>
                <option value="cheapest_hotel">Cheapest Hotel Price</option>
                <option value="cheapest_flight">Cheapest Flight</option>
                <option value="cheapest_fnaf">Cheapest 5 Day Trip</option>
                <option value="shortest_flight">Shortest Flight</option>
                <option value="worst_weather">Coldest and Wettest</option>
                <option value="most_expensive_hotel">
                  Most Expensive Hotel Price
                </option>
                <option value="most_expensive_flight">
                  Most Expensive Flight
                </option>
                <option value="most_expensive_fnaf">
                  Most Expensive 5 Day Trip
                </option>
                <option value="longest_flight">Longest Flight</option>
                <!--<option value="low_price">Most Affordable</option>
            <option value="high_price">Most Expensive</option>-->
              </select>
            </div>
          </div>
        </form>
        <div id="flight-table">
          <!-- The cards will be dynamically updated here -->
        </div>

        <footer id="footer-privacy">
          <p>
            &copy; 2024 FairFareFinder |
            <a href="/privacy-policy">Privacy Policy</a>
          </p>
        </footer>
      </div>
    </div>
    <script src="/js/cookie-utils.js" defer></script>
    <script src="/js/index-animation.js" defer></script>
    <script src="/js/index.js" defer></script>
    <script src="/js/index-modal.js" defer></script>
  </body>
</html>
