{{ if .Flights }}
<div class="desktop-view">
  <table>
    <thead>
      <tr>
        <th>Destination</th>

        <th class="fnaf-column">Five Nights and Flights<br />(Per Person)</th>

        <th colspan="5" style="width: 100px">Five Day Forecast</th>

        <th>Flights From</th>
        <th class="accommodation-column">
          Avg. Hotel Price<br />(Per Person Per Night)
        </th>
      </tr>
    </thead>
    <tbody>
      {{range .Flights}}
      <tr>
        <!-- Highlight the destination name if AvgWpi is the highest -->
        <td class="{{if eq .AvgWpi.Float64 $.MaxWpi.Float64}}{{end}}">
          {{.DestinationCityName}}
        </td>

        <!-- Five Nights and Flights Price -->
        <td
          class="fnaf-column {{if eq .FiveNightsFlights.Float64 $.MinFnaf.Float64}}highlight{{end}}"
          style="font-weight: bold"
        >
          {{if .FiveNightsFlights.Valid}}{{printf "€%.2f"
          .FiveNightsFlights.Float64}}{{else}}N/A{{end}}
        </td>

        <!-- Wrap weather forecast columns with the highlight class if AvgWpi is the highest -->

        <!-- Wrap weather forecast columns with the highlight class if AvgWpi is the highest -->
        <td
          colspan="5"
          class="{{if eq .AvgWpi.Float64 $.MaxWpi.Float64}}highlight{{end}}"
        >
          <table style="width: 100%">
            <tr>
              {{range $index, $element := .WeatherForecast}} {{if lt $index 5}}
              <td
                class="weather-column"
                style="width: 7%; text-align: center; padding: 4px 8px"
              >
                <a href="{{$element.GoogleUrl}}" target="_blank">
                  <div>
                    <img
                      src="{{$element.WeatherIcon}}"
                      alt="Weather Icon"
                      width="100%"
                    />
                  </div>
                  <div>
                    {{if $element.AvgDaytimeTemp.Valid}}{{printf "%.1f°C"
                    $element.AvgDaytimeTemp.Float64}}{{else}}N/A{{end}}
                  </div>
                </a>
              </td>
              {{end}} {{end}}
            </tr>
          </table>
        </td>

        <!-- Price and URL for Skyscanner flights -->
        <td
          class="price-hover {{if eq .PriceCity1.Float64 $.MinFlight.Float64}}highlight{{end}}"
          onclick="window.open('{{.UrlCity1}}', '_blank');"
        >
          {{if and .PriceCity1.Valid (ne .PriceCity1.Float64 0.00)}}{{printf
          "€%.2f" .PriceCity1.Float64}}{{else}}N/A{{end}}
        </td>

        <!-- Avg. Hotel Price -->
        <td
          class="accommodation-column price-hover {{if eq .BookingPppn.Float64 $.MinHotel.Float64}}highlight{{end}}"
          onclick="window.open('{{.BookingUrl.String}}', '_blank');"
        >
          {{if and .BookingPppn.Valid (ne .BookingPppn.Float64 0.00)}}{{printf
          "€%.2f" .BookingPppn.Float64}}{{else}}N/A{{end}}
        </td>
      </tr>
      {{end}}
    </tbody>
  </table>
</div>

<!-- Mobile view (card carousel) -->
<div class="mobile-view card-carousel">
  {{ range .Flights }}
  <div class="card" onclick="openModal('{{ .DestinationCityName }}')">
    <div
      class="card-image"
      style="
        background-image: url('{{ .RandomImageURL }}');
      "
    ></div>

    <div class="card-content">
      <h2>{{ .DestinationCityName }}</h2>
      <div class="weather-icons">
        {{ range $index, $element := .WeatherForecast }} {{ if lt $index 5 }}
        <div class="weather-icon">
          <a href="{{ $element.GoogleUrl }}" target="_blank">
            <img
              src="{{ $element.WeatherIcon }}"
              alt="Weather Icon"
              width="30px"
            />
            <div>
              {{ if $element.AvgDaytimeTemp.Valid }} {{ printf "%.1f°C"
              $element.AvgDaytimeTemp.Float64 }} {{ else }} N/A {{ end }}
            </div>
          </a>
        </div>
        {{ end }} {{ end }}
      </div>

      <!--p>
    Five Nights and Flights: {{if and .FiveNightsFlights.Valid (ne .FiveNightsFlights.Float64 0.00)}}€{{printf "%.2f" .FiveNightsFlights.Float64}}{{else}}N/A{{end}}
  </p-->

      <a href="{{.UrlCity1}}" target="_blank" class="clickable">
        <p>
          Flights From: {{ if and .PriceCity1.Valid (ne .PriceCity1.Float64
          0.00) }} €{{ printf "%.2f" .PriceCity1.Float64 }} {{ else }} N/A {{
          end }}
        </p>
      </a>

      <a href="{{.BookingUrl.String}}" target="_blank" class="clickable">
        <p>
          Avg. Hotel Price: {{ if and .BookingPppn.Valid (ne
          .BookingPppn.Float64 0.00) }} €{{ printf "%.2f" .BookingPppn.Float64
          }} {{ else }} N/A {{ end }}
        </p>
      </a>
    </div>
  </div>
  {{ end }}
</div>

<!-- Indicator for loading new cards -->
<div id="loading-indicator" style="display: none">Loading more cards...</div>

<!-- New desktop grid view -->
<!-- New desktop grid view -->
<div class="desktop-card-grid">
  {{ range .Flights }}
  <div class="card" onclick="openModal('{{ .DestinationCityName }}')">
    <div
      class="card-image"
      style="
        background-image: url('{{ .RandomImageURL }}');
      "
    ></div>

    <div class="card-content">
      <h2>{{ .DestinationCityName }}</h2>
      <div class="weather-icons">
        {{ range $index, $element := .WeatherForecast }} {{ if lt $index 5 }}
        <a class="weather-icon" href="{{ $element.GoogleUrl }}" target="_blank">
          <img
            src="{{ $element.WeatherIcon }}"
            alt="Weather Icon"
            width="30px"
          />
          <div>
            {{ if $element.AvgDaytimeTemp.Valid }} {{ printf "%.0f°C"
            $element.AvgDaytimeTemp.Float64 }} {{ else }} N/A {{ end }}
          </div>
        </a>
        {{ end }} {{ end }}
      </div>
      <!--p>
        Five Nights and Flights: {{if and .FiveNightsFlights.Valid (ne .FiveNightsFlights.Float64 0.00)}}€{{printf "%.2f" .FiveNightsFlights.Float64}}{{else}}N/A{{end}}
      </p-->

      <a href="{{ .UrlCity1 }}" target="_blank" class="clickable">
        <p>
          Flights From: {{ if and .PriceCity1.Valid (ne .PriceCity1.Float64
          0.00) }} €{{ printf "%.0f" .PriceCity1.Float64 }} {{ else }} N/A {{
          end }}
        </p>
      </a>

      <a href="{{.BookingUrl.String}}" target="_blank" class="clickable">
        <p>
          Avg. Hotel Price: {{ if and .BookingPppn.Valid (ne
          .BookingPppn.Float64 0.00) }} €{{ printf "%.0f" .BookingPppn.Float64
          }} {{ else }} N/A {{ end }}
        </p>
      </a>
    </div>
  </div>
  {{ end }}
</div>

<!-- Centralized Modal Views -->
<div id="modals">
  {{ range .Flights }}
  <div
    class="modal"
    id="modal-{{ .DestinationCityName }}"
    onclick="closeModalOnOutsideClick(event, '{{ .DestinationCityName }}')"
  >
    <div class="modal-content">
      <div class="card card-large">
        <div
          class="card-image"
          style="
            background-image: url('{{ .RandomImageURL }}');
          "
        ></div>

        <div class="card-content">
          <h2>{{ .DestinationCityName }}</h2>
          <div class="weather-icons">
            {{ range $index, $element := .WeatherForecast }} {{ if lt $index 5
            }}
            <div class="weather-icon">
              <img
                src="{{ $element.WeatherIcon }}"
                alt="Weather Icon"
                width="30px"
              />
              <div>
                {{ if $element.AvgDaytimeTemp.Valid }} {{ printf "%.0f°C"
                $element.AvgDaytimeTemp.Float64 }} {{ else }} N/A {{ end }}
              </div>
            </div>
            {{ end }} {{ end }}
          </div>

          <a href="{{ .UrlCity1 }}" target="_blank" class="clickable">
            <p>
              Flights From: {{ if and .PriceCity1.Valid (ne .PriceCity1.Float64
              0.00) }} €{{ printf "%.0f" .PriceCity1.Float64 }} {{ else }} N/A
              {{ end }}
            </p>
          </a>

          <a href="{{ .BookingUrl.String }}" target="_blank" class="clickable">
            <p>
              Avg. Hotel Price: {{ if and .BookingPppn.Valid (ne
              .BookingPppn.Float64 0.00) }} €{{ printf "%.0f"
              .BookingPppn.Float64 }} {{ else }} N/A {{ end }}
            </p>
          </a>
        </div>
      </div>
    </div>
  </div>
  {{ end }}
</div>

<div id="loading-indicator" style="display: none">Loading more cards...</div>

{{ end }}
