
{{ if .Flights }}
<div class="card-carousel" hx-get="/next-cards" hx-trigger="revealed" hx-swap="afterend" hx-indicator="#loading-indicator">
    {{ range .Flights }}
    <div class="card">
        <div class="card-content">
            <h2>{{ .DestinationCityName }}</h2>
            <p>Five Nights and Flights: {{ if .FiveNightsFlights.Valid }}€{{ printf "%.2f" .FiveNightsFlights.Float64 }}{{ else }}N/A{{ end }}</p>
            <p>Flights From: {{ if .PriceCity1.Valid }}€{{ printf "%.2f" .PriceCity1.Float64 }}{{ else }}N/A{{ end }}</p>
            <p>Avg. Hotel Price: {{ if .BookingPppn.Valid }}€{{ printf "%.2f" .BookingPppn.Float64 }}{{ else }}N/A{{ end }}</p>
            <div class="weather-icons">
                {{ range .WeatherForecast }}
                    <img src="{{ .WeatherIcon }}" alt="Weather Icon" width="30px">
                {{ end }}
            </div>
        </div>
    </div>
    {{ end }}
</div>

<!-- Indicator for loading new cards -->
<div id="loading-indicator" style="display:none;">Loading more cards...</div>
{{ end }}

