
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Comparison</title>
    <script src="https://unpkg.com/htmx.org"></script>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div>
        <form hx-get="/search" hx-target="#results" hx-trigger="change">
            <label for="departureAirport">Departure Airport:</label>
            <select id="departureAirport" name="departureAirport" hx-get="/airports" hx-target="#arrivalAirport" hx-trigger="change">
                <!-- Dynamically insert options here -->
                {{ range .DepartureAirports }}
                <option value="{{ . }}" {{ if eq . "" }}selected{{ end }}>{{ . }}</option>
                {{ end }}
            </select>
            <br>
            <label for="arrivalAirport">Arrival Airport:</label>
            <select id="arrivalAirport" name="arrivalAirport">
                <!-- Options will be dynamically inserted here based on departure airport selection -->

                {{ range .DepartureAirports }}
                <option value="{{ . }}" {{ if eq . "" }}selected{{ end }}>{{ . }}</option>
                {{ end }}
            </select>
            <br>
            <label for="departureDate">Departure Date:</label>
            <input type="date" id="departureDate" name="departureDate">
            <br>
            <label for="arrivalDate">Arrival Date:</label>
            <input type="date" id="arrivalDate" name="arrivalDate">
        </form>
    </div>
    <div id="results">
        <!-- Results will be dynamically inserted here -->
    </div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var departureAirportSelect = document.getElementById('departureAirport');
    if (departureAirportSelect) {
        // Programmatically set to "BER" and trigger change event
        departureAirportSelect.value = "BER";
        departureAirportSelect.dispatchEvent(new Event('change'));
    }
});
</script>

</body>
</html>

