
{{ if .Flights }}
<table>
    <thead>
        <tr>
            <th>Destination City</th>
            <th>Price This Week from {{.SelectedCity1}}</th>
            <th>Price This Week from {{.SelectedCity2}}</th>
            <th>Combined Price</th>
            <th>Avg WPI</th>
        </tr>
    </thead>
    <tbody>
        {{range .Flights}}
        <tr>
            <td>{{.DestinationCityName}}</td>
          
<td><a href="{{.UrlCity1}}" target="_blank">{{if .PriceCity1.Valid}}{{printf "%.2f" .PriceCity1.Float64}}{{else}}N/A{{end}}</a></td>
<td><a href="{{.UrlCity2}}" target="_blank">{{if .PriceCity2.Valid}}{{printf "%.2f" .PriceCity2.Float64}}{{else}}N/A{{end}}</a></td>
            <td>{{if .CombinedPrice.Valid}}{{printf "%.2f" .CombinedPrice.Float64}}{{else}}N/A{{end}}</td>
            <td>{{if .AvgWpi.Valid}}{{printf "%.1f" .AvgWpi.Float64}}{{else}}N/A{{end}}</td>
        </tr>
        {{end}}
    </tbody>
</table>
{{ end }}

