/* Body styling */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #012553;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-color: #f4f4f4; /* Ensure only one background-color is effective */
}

.title-container {
  text-align: center;
  /* Animation Name */
  background: linear-gradient(to right, #d87d6d, #005a84, #012353);
  background-size: 200% 200%; /* Enlarge background size to allow movement */
  animation: GradientMove 8s linear infinite; /* Apply the animation */
  padding: 20px;
}

@keyframes GradientMove {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

h1 {
  color: white;
  margin: 0;
}

.image-container {
  display: flex;
  justify-content: center;
  margin-top: 0px;
}

.image-container img {
  max-width: 100%;
  height: auto;
}

.navbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-container nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.nav-button {
  background-color: #eea53c; /* Green background */
  border: none;
  color: white;
  padding: 20px; /* Fixed height */
  text-align: center;
  text-decoration: wavy;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  flex: 1; /* Allows dynamic width */
}

.nav-button:hover {
  background-color: #1ca2b3; /* Slightly lighter or different color */
  transform: scale(1.05); /* Slightly increase size */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* Add shadow for depth */
  transition: all 0.3s ease-in-out; /* Smooth transition for the effect */
}

/* Fade-in animation for the text */
#website-name {
  font-size: 6rem;
  color: #111;
  opacity: 0;
  animation:
    fadeIn 1s forwards,
    fadeOut 1s 1s forwards; /* Fade in and fade out */
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeInTable {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Initial state of the table-container */
#table-container {
  width: 95%;
  height: 90%;
  display: none;
  opacity: 0;
  position: fixed;
  top: 50%; /* Start at the vertical center */
  left: 50%;
  transform: translate(-50%, -10%); /* Center the element */
  transition:
    opacity 0.5s ease,
    transform 0.5s ease;
  flex-direction: column; /* Stack children vertically */
  justify-content: flex-start; /* Align content to the top */
  align-items: stretch; /* Stretch children width to fill the container */
}

#flight-table {
  width: 100%; /* Ensure the table takes up full width */
  margin: 25px 0;
  overflow-y: auto; /* Enables vertical scrolling when necessary */
  opacity: 0; /* Start invisible */
  overflow-x: scroll; /* Enable horizontal scrolling for smaller screens */
text-align: center;
border-radius: 8px;
}

/* Trigger animations when the 'show' class is added via JavaScript */
#table-container.show {
  display: flex;

  animation:
    fadeIn 0.5s forwards,
    moveUp 0.5s 1s forwards; /* First fade in, then move up after a 2-second delay */
}

/* Keyframes for the fade-in effect */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Keyframes for the upward movement */
@keyframes moveUp {
  0% {
    transform: translate(-50%, -10%); /* Start at the center */
  }
  100% {
    transform: translate(-50%, -50%); /* End 15% away from the top */
  }
}

/* Center the form elements in a row */
#flight-form {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  display: flex; /* Use flexbox for layout */
  flex-direction: row; /* Align items in a row */
  align-items: center; /* Center-align the items vertically */
  justify-content: center; /* Center-align the entire row horizontally */
  margin: 0 auto; /* Center the form horizontally on the page */
  width: 80%;
}

/* Ensure the input elements, labels, and selects are not too wide */
#flight-form label,
#flight-form select,
#flight-form input[type="range"],
#flight-form output {
  text-align: center; /* Center text in the labels */
}

/* Center-align the output values for sliders */
#flight-form output {
  font-size: 1.2em; /* Increase the font size for better visibility */
}

/* Fullscreen background image */
#bg-image-dreams {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("/images/dreams.png");
  background-size: cover;
  background-position: center;
  z-index: -1; /* Place the background behind other content */
  opacity: 0;
  transition: opacity 1s ease; /* Smooth opacity transition */

  filter: blur(
    10px
  ); /* Apply the blur effect, adjust the value to your preference */
}

.fade-in {
  animation: fadeIn 1s forwards; /* Apply fade-in animation */
}

/* Initial state for footer */
#footer-privacy {
  opacity: 0; /* Initially hidden */
}

/* For each label-select/input pair */
.form-group {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px; /* Space between form groups */
  width: 100%; /* Full width */
}

/* Labels and inputs aligned horizontally */
.form-group label {
  width: 30%; /* Adjust label width */
  text-align: left;
  margin-right: 10px; /* Space between label and input */
}

.form-group select,
.form-group input[type="range"],
.form-group output {
  width: 70%; /* Adjust input width */
}

@media screen and (max-width: 800px) {
  .navbar-container nav {
    flex-direction: column;
  }

  .nav-button {
    width: 100%;
    margin: 2px 0;
  }

  #flight-form {
    width: 90%; /* Adjust form width on mobile */
    flex-direction: column; /* Align items in a row */
  }

  /* On smaller screens, keep the label and input in a row */
  .form-group {
    flex-direction: row;
  }

  .form-group label[for="combinedPrice-slider"] {
    display: none; /* Hide label for slider on mobile */
  }

  .form-group label {
    width: 40%; /* Adjust label width on smaller screens */
  }

  /* Adjust combined price slider container */
  .form-group input[type="range"] {
    width: 100%; /* Make slider take full width */
    margin-left: 10px; /* Add space between output and slider */
  }

  /* Ensure the output appears to the left of the slider */
  .form-group.output-range {
    display: flex;
    flex-direction: row; /* Ensure output and slider are side by side */
    align-items: center;
    justify-content: flex-start;
    width: 100%;
  }

  .form-group.output-range output {
    width: 60%; /* Allow output to size based on its content */
    min-width: 50px; /* Set a minimum width */
  }

  .combinedPrice-slider {
    display: none;
  }

  #table-container {
    width: 95%;
    height: 98%;
    top: 52%;
  }

  #flight-table {
    width: 100%; /* Ensure table width is consistent on mobile */
    overflow-x: scroll; /* Enable horizontal scrolling if needed */
  }

  #flight-table th,
  #flight-table td {
    width: auto; /* Make sure the table's columns resize accordingly */
  }

    .scroll-container::-webkit-scrollbar {
        display: none; /* Hide scrollbar for WebKit browsers on mobile */
    }

    .scroll-container {
        scrollbar-width: none; /* Hide scrollbar for Firefox on mobile */
    }
::-webkit-scrollbar-thumb {
    background-color: #a0a0a000;
    border-radius: 10px;

}

}





/* WebKit Browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    /*background-color: #a0a0a0;*/
 background-color: #d8d8d8;
  border-radius: 10px;

}

::-webkit-scrollbar-thumb:hover {
/*    background-color: #808080;*/
 

  background-color: #dd6c20;  
  }

::-webkit-scrollbar-corner {
    background-color: transparent; /* Match the background color of the content */
/* Buttons */
::-webkit-scrollbar-button:single-button {
  background-color: #bbbbbb;
  display: none;
  border-style: solid;
  height: 13px;
  width: 16px;
}
/* Up */
::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 0 8px 8px 8px;
  border-color: transparent transparent #555555 transparent;
 display: none;
}

::-webkit-scrollbar-button:single-button:vertical:decrement:hover {
  border-color: transparent transparent #777777 transparent;
 display: none;
}
/* Down */
::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 8px 8px 0 8px;
  border-color: #555555 transparent transparent transparent;
 display: none;
}

::-webkit-scrollbar-button:vertical:single-button:increment:hover {
  border-color: #777777 transparent transparent transparent;
 display: none;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #a0a0a0 transparent;
}

/* Hide scrollbar completely on mobile */
@media screen and (max-width: 800px) {
    ::-webkit-scrollbar {
        display: none; /* Hide entire scrollbar on mobile */
    }
    
    ::-webkit-scrollbar-thumb {
        background-color: transparent; /* Ensure thumb is transparent (optional) */
    }

    .scroll-container {
        scrollbar-width: none; /* Firefox: hide scrollbar on mobile */
    }
}
