.card {
  width: 15vw;
  height: 30vh;
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.card-image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.card-content {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60%;
}

.city-name {
  font-size: 0.8em;
  font-weight: bold;
}

.card {
  cursor: pointer;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card.selected {
  outline: 3px solid #ff9800;
  box-shadow: 0px 0px 10px rgba(255, 152, 0, 0.7);
}

.all-cities-card-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 20px;
}

#cities-container {
  margin: 5vh auto 5vh 3vw;
  max-width: 1200px;
}

.card {
  cursor: pointer;
  transition:
    transform 0.2s,
    box-shadow 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.card.selected {
  outline: 3px solid #ff9800;
  box-shadow: 0px 0px 10px rgba(255, 152, 0, 0.7);
}
