/* Additional styling for the add city button */
#add-city-button {
  background-color: #db8363f2;
  border: none;
  border-radius: 4px;
  color: #ffffff;
  font-family: "Dosis", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  padding: 0.5em 1em;
  cursor: pointer;
  transition:
    background-color 0.3s ease,
    transform 0.1s ease;
}

#add-city-button:hover,
#add-city-button:focus {
  background-color: #ff6347;
  outline: none;
}

/* Active state provides feedback on click */
#add-city-button:active {
  transform: scale(0.98);
}

.remove-city-button {
  margin: 10px;
  background-color: #b5b5b5bf;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.remove-city-button:hover {
  background-color: #ff3333;
}

select:hover {
  background-color: #3fa89d;

  cursor: pointer;
}

select {
  /* Add smooth transitions for background and other properties */
  transition:
    background-color 0.4s ease,
    box-shadow 0.4s ease;
}

/* Slider*/

/* Thumb style */
.price-slider::-webkit-slider-thumb {
  cursor: pointer;
}

.price-slider::-moz-range-thumb {
  cursor: pointer;
}

.price-slider::-ms-thumb {
  cursor: pointer;
}
.price-slider:hover {
  cursor: pointer;
}

.flight-price-slider {
  width: 50%;
  display: flex;
  flex-direction: column;
  top: -8px;
}
.form-group.city-row {
  background-color: #237275;
  border-radius: 10px;
  display: flex;
  padding: 1em;
}
.form-group.city-row.operators {
  display: flex;
  margin-bottom: -10px;
  padding: 0em;

  width: 50%;
}

.form-group.city-row.operators {
  display: flex;
  margin-bottom: -10px;
  padding: 0em;
}

.logical-operator {
  max-width: 100px;
  min-width: 75px;

  flex: 1;
  font-size: 1em;
}
.accom-and-sort {
  display: flex;
  background-color: #237275;
  border-radius: 10px;
  padding: 10px;
  flex-direction: column;
  width: 100%;
  margin-bottom: 15px;
}

.form-group.accom {
  display: flex;
}
.accom-pricebar {
  display: flex;
  width: 100%;
  flex-direction: column;
}

#flight-form {
  border-radius: 8px;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 92%;
  flex-direction: column;
  padding: calc(10px + 2%);
  max-width: 1200px;
  padding-bottom: 0px;
  padding-top: 20px;
  background-color: #0b5259;
  font-family: "Dosis", sans-serif;
}

/* MOBILE*/
@media screen and (max-width: 800px) {
  .form-group.city-row {
    display: flow-root;
  }
  .flight-price-slider {
    width: 70vw;
    display: flex;
  }

  .form-group.city-row.operators {
    width: 100%;
  }
}
