

.card-carousel {
  display: flex;
  overflow-x: auto;
  scroll-snap-type: x mandatory; /* Snap each card into view */
  width: 100%;
  scroll-behavior: smooth; /* Smooth scroll when using buttons */
  height: 100%;
  border-radius: 1em;
}

.card {
  flex: 0 0 100%; /* Each card takes up the full width of the container */
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  background-color: #fff;
  margin: 0 10px;
  scroll-snap-align: start; /* Snap each card to the start */
  border-radius: inherit;
}

.scroll-container {
  overflow: hidden; /* Hide scrollbars */
}

