/* Hide mobile and table view */
@media only screen and (min-width: 801px) {
  .mobile-view {
    display: none;
  }

  .desktop-view {
    display: none; /* Ensures table view is hidden in card grid view */
  }

  .weather-icon a {
    text-decoration: none !important;
    display: ruby-text; /* Ensures it behaves like a normal text element */
    color: black;
    font-family: "Dosis", sans-serif;
    padding: 0px;
    margin: 0px;
  }

  .weather-icons .weather-icon {
    text-decoration: none; /* Removes underline from links */
    display: inline-block; /* Ensures it behaves like a block for layout */
    color: #000000c7; /* Sets the text color */
    padding: 0; /* Removes extra space */
    margin: 0; /* Removes extra space */
  }

  /* Desktop card grid */
  .desktop-card-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 cards per row */
    grid-gap: 20px; /* Space between cards */
    margin: 0px 5%;
    padding: 10px;
  }

  .card {
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
  }

  .card:hover {
    transform: translateY(-10px);
  }

  .card-image {
    height: 35svh;
    background-size: cover;
    background-position: center;
  }

  .card-content h2 {
    font-size: 1.3em;
    margin: 0;
  }

  .card-content p {
    margin: 5px 0;
  }

  #flight-form output {
    width: 30%;
  }
} /* end of desktop grid*/

/* For mobile devices, hide the table and show the carousel */
@media only screen and (max-width: 800px) {
  .desktop-view {
    display: none;
  }
  .desktop-card-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 20px;
    margin: 0px 5%;
  }

  .card {
    scroll-snap-align: start;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    border-radius: 8px;
    line-height: 0;
    overflow: hidden;
    margin: 0px 0px 20px 0px;
    flex-direction: row;
    height: auto;
  }
}

@media only screen and (min-width: 1200px) {
  #table-container {
    width: 1200px;
  }

  .card-content h2 {
    font-size: 1.4em;
    margin: 0;
  }

  .desktop-card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    width: calc(100% - 10%);
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
  }
}

#fff-icon {
  margin-left: 10%;
  height: 42px;
  margin-right: 5px;
}

#page-banner {
  display: none;
  width: 100%;
  height: 55px;
  background-color: #0b5259;
  color: white;
  padding: 0px;
  text-align: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

#page-banner.show {
  display: block;
  opacity: 1;
  animation: fadeIn 1s ease forwards;
}

/* Fade-in animation */
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* When the banner is shown */
#page-banner.show {
  display: block;
  opacity: 1;
  animation: fadeIn 1s ease forwards;
}

.banner-content {
  display: flex;
  align-items: center;
  justify-content: left;
  line-height: 1.6;
}

/* Apply Dosis specifically to headings */
h1,
h2,
h3 {
  font-family: "Dosis", sans-serif;
  margin: 6px;
  font-size: 1.7em;
}

.scroll-container {
  position: relative;
  height: 93vh;
  top: -10px;
  width: 100vw;
  overflow: hidden;
  overflow-y: scroll;
  overflow-x: scroll;
  box-sizing: border-box;
  padding: 10px;
}

/* Customize the scrollbar for better UX */
.scroll-container::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: #888; /* Scrollbar thumb color */
  border-radius: 4px; /* Rounded scrollbar corners */
}

.scroll-container::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Darker color on hover */
}

.destination-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.destination-duration {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.weather-icons {
  display: flex;
  justify-content: space-evenly;
  margin-right: 1.5em;
  background-color: #add8e69e;
  border-radius: 14px;
  width: 100%;
  margin-top: 10px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 13px;
  /*  font-family: Arial, sans-serif;*/
}

.card-content {
  padding: 1.1em;
  justify-content: space-between;
  background-color: #f4dfcf;
  flex: auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: hidden;
  opacity: 0.9;
  font-size: 1.8vh;
}

.flight-accom-prices {
  display: flex;
  justify-content: inherit;
}
