

/* Hide mobile and table view */
@media only screen and (min-width: 801px) {
      .mobile-view {
        display: none;
    }

.desktop-view {
  display: none; /* Ensures table view is hidden in card grid view */
}


.weather-icon a div {
  text-decoration: none !important;
  display: inline-block; /* Ensures it behaves like a normal text element */
  color: black;
}

/* Desktop card grid */
.desktop-card-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 cards per row */
  grid-gap: 20px; /* Space between cards */
/*  margin: 20px auto;*/
  padding: 10px;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: translateY(-10px);
}

.card-image {
  height: 135px;
  background-size: cover;
  background-position: center;
}

.card-content {
  padding: 15px;
}

.card-content h2 {
  font-size: 1.7vw;
  margin: 0;
}

.card-content p {
  margin: 5px 0;
}

.weather-icons {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
margin-left: 1.5em;
margin-right: 1.5em;
}

.clickable {
  color: #007BFF;
  text-decoration: none;
}

.clickable:hover {
  text-decoration: underline;
}


/* mobile card styles copied into grid view*/
  #flight-form {
    width: 90%; /* Adjust form width on mobile */
    flex-direction: column; /* Align items in a row */
padding: calc(10px + 2%);

  padding-bottom: 0px;
background-color: #cfebf4;
 opacity: 0.9;
 }
.card-content {
  /*  flex: 0 0 60%;
    padding: 20px;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;*/
    overflow: hidden;
    background-color: #f4dfcf;
    opacity: 0.9;
    justify-content: space-between;
    padding: 10px;
  }

.card {
  /*
    min-width: 100%;
    scroll-snap-align: start;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    flex-direction: row;
    line-height: 0;
    overflow: hidden;
*/

    border-radius: 10px;
  }

#flight-form output {
width: 30%;
}





} /* end of desktop grid*/







/* For mobile devices, hide the table and show the carousel */
@media only screen and (max-width: 800px) {
    .desktop-view {
        display: none;
    }
    .desktop-card-grid {
        display: none;
    }


  }

/* for super wide screens reduce table width for readability*/
@media only screen and (min-width: 1400px) {
#table-container {
  width: 80%;
}
#flight-table {
font-size: 1.0vw;
}
}
/*For bigger monitors*/

@media only screen and (min-width: 1500px) {
.desktop-card-grid {
    grid-template-columns: repeat(4, 1fr);
  }
#flight-table {
font-size: 0.8vw;
}
  .card-content h2 {
    font-size: 1.2vw;
    margin: 0;
  }
}


